.about-flex {
  display: flex;
}

.about {
  width: 40%;
  color: $color-dark;

  &__title {
    font-family: "theBoldFont";
    font-size: 3rem;
  }

  p {
    font-size: 1.8rem;
    margin-bottom: 2rem;
  }
}

.skills {
  display: grid;
  grid-template-columns: repeat(5, 1fr);
  grid-template-rows: repeat(6, 1fr);
  grid-gap: 1rem;
  margin-left: auto;

  &__item {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0 0.8rem;
    color: $color-secondary;
    background-color: $color-primary;
    font-weight: bold;
    border: 1px solid;
  }
}
