.intro {
  display: flex;
  flex-direction: column;
  margin-left: auto;

  &__name {
    font-family: "impact";
    font-size: 20rem;
    line-height: 1;
    color: $color-primary;
  }

  &__profession {
    font-size: 2rem;
    text-transform: uppercase;
    color: $color-tertiary;
    margin-left: auto;
  }
}

.intro__name {
  animation: intro__name 0.5s cubic-bezier(0.895, 0.03, 0.685, 0.22) 400ms both;
}

@keyframes intro__name {
  0% {
    transform: translateY(0);
    transform-origin: 50% 50%;
    text-shadow: none;
  }
  50% {
    text-shadow: 1px 1px 1px rgb(169, 47, 41);
  }
  100% {
    transform: translateY(-1.8rem);
    transform-origin: 50% 50%;
    text-shadow: 1px 20px 8px rgb(169, 47, 41);
  }
}
