.scroll-container {
  animation: scroll 3s linear infinite;
  animation-delay: 3s;
}
@keyframes scroll {
  0% {
    transform: translateY(initial);
  }
  100% {
    transform: translateY(-565px);
  }
}

#group-1 > g > rect {
  animation: expand 1s forwards;
  animation-delay: 1s;
  opacity: 0;
}

#group-2 > g > rect {
  animation: expand 1s forwards;
  animation-delay: 1.5s;
  opacity: 0;
}

#group-3 > g > rect {
  animation: expand 1s forwards;
  animation-delay: 2s;
  opacity: 0;
}

@keyframes expand {
  0% {
    opacity: 1;
    width: 0;
  }
  100% {
    opacity: 1;
    width: 1;
  }
}
