@import "./utils/sass/mixins/media-queries";

@import "./utils/sass/variables";
@import "./utils/sass/base";
@import "./utils/sass/layout";

@import "./components/common/heading/heading";
@import "./components/common/nav/nav";
@import "./components/common/sidenav/sidenav";
@import "./components/common/burger-menu/burger-menu";
@import "./components/common/phone-burger-menu/phone-burger-menu";

@import "./components/header/header";
@import "./components/intro/intro";
@import "./components/hero/hero";
@import "./components/about/about";
@import "./components/projects/projects";
@import "./components/drawing/drawing";
