*,
*::before,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
}

// MEDIA QUERY MANAGER
/*
0-600px        phone
600-740px      phone-land
600-900px      table portrait
900-1200px     table landscape
{1200-1800px}  is where normal styles apply
1800px +       big screen
*/

@mixin responsive($breakpoint) {
  @if $breakpoint == phone {
    @media only screen and (max-width: 37.5em) {
      @content;
    } // 600px (600/16 = 37.5)
  }

  @if $breakpoint == phone-land {
    @media only screen and (max-width: 46.25em) {
      @content;
    } // 740px
  }

  @if $breakpoint == tab-port {
    @media only screen and (max-width: 56.25em) {
      @content;
    } // 900px
  }

  @if $breakpoint == tab-land {
    @media only screen and (max-width: 75em) {
      @content;
    } // 1200px
  }

  @if $breakpoint == big-desktop {
    @media only screen and (min-width: 112.5em) {
      @content;
    } //1800px
  }
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
  -webkit-font-smoothing: antialiased;

  @include responsive(tab-land) {
    font-size: 56.25%; //1rem = 9px, 9/16 = 56.25
  }

  @include responsive(tab-port) {
    font-size: 50%; //1rem = 8px, 8/16= 50
  }

  @include responsive(phone) {
    font-size: 44%; //1rem = 7px, 7/16= 44
  }

  @include responsive(big-desktop) {
    font-size: 75%; //1rem = 12px, 75
  }
}

@font-face {
  font-family: helveticaNeue;
  src: url("/assets/fonts/helvetica-neue.ttf") format("ttf");
}

@font-face {
  font-family: impact;
  src: url("/assets/fonts/impact.ttf") format("ttf");
}

@font-face {
  font-family: theBoldFont;
  src: url("/assets/fonts/theboldfont.ttf") format("ttf");
}

body {
  font-family: "helveticaNeue", sans-serif;
  font-size: 1.4rem;
  line-height: 1.4;
}
