@font-face {
  font-family: "The Bold Font";
  src: url("./assets/fonts/TheBoldFont.woff2") format("woff2"),
    url("./assets/fonts/TheBoldFont.woff") format("woff"),
    url("./assets/fonts/TheBoldFont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  font-family: "Montserrat";
  src: url("./assets/fonts/MontserratRegular.woff2") format("woff2"),
    url("./assets/fonts/MontserratRegular.woff") format("woff"),
    url("./assets/fonts/MontserratRegular.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}
