@font-face {
  font-family: helveticaNeue;
  src: url("/src/assets/fonts/helvetica-neue.woff2") format("woff2"),
    url("/src/assets/fonts/helvetica-neue.woff") format("woff"),
    url("/src/assets/fonts/helvetica-neue.ttf") format("ttf");
}

@font-face {
  font-family: theBoldFont;
  src: url("/src/assets/fonts/theboldfont.woff2") format("woff2"),
    url("/src/assets/fonts/theboldfont.woff") format("woff"),
    url("/src/assets/fonts/theboldfont.ttf") format("ttf");
}
