.container {
  display: flex;
  justify-content: space-between;
  padding-right: 1rem;
  padding-left: 10rem;
  background-color: $color-secondary;
}

.section {
  width: 75vw;
  height: 100vh;
  padding-top: 3.5rem;
}
