// COLORS
$color-primary: rgb(225, 71, 62);
$color-secondary: rgb(58, 44, 58);
$color-tertiary: rgb(229, 229, 229);
$color-white: rgb(255, 255, 255);
$color-yellow: rgb(232, 165, 79);
$color-grayed-out: rgb(233, 141, 136);
