// COLORS
//$color-primary: rgb(225, 71, 62);
$color-primary: rgb(58, 44, 58);
$color-secondary: rgb(252, 252, 252);
$color-tertiary: rgb(229, 229, 229);
$color-white: rgb(255, 255, 255);
$color-dark: #404040;
$color-grayed-out: rgb(153, 153, 153);
